POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=object_detection

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

MODEL_PATH=/models/train7/train7/weights/best.pt
MODEL_TYPE=ultralytics
CLASS_MAP_PATH=/app/model_data/classes.yaml
CONFIDENCE_THRESHOLD=0.25
NMS_THRESHOLD=0.45

API_HOST=0.0.0.0
API_PORT=8000
